<header class="action-bar">
	<!--<a class="app-icon action up" >
	  <i class="icon-up-button"></i>
	  <i class="icon-gdg"></i>
	</a> -->
	<div class="row">
	 <div class="col-lg-4">
	<button type="button" class="btn btn-default btn-xs" ng-click='backApp()'>
  		<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Voltar
	</button>
	
	<button type="button" class="btn btn-default btn-xs" ng-click='backApp()'>
  		Salvar<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> 
	</button>
	</div>
	</div>
	
</header>

<div class="content">
	<div class="app-content">
	    <ul>
			<li id="vistoria">
	          <div class='vistoria-info'>
	            <h4 class="page-header">OS: {{vistoria.id}} Sinistro: {{vistoria.sinistro}} </h4>
	            <h5>Segurado: {{vistoria.segurado}}</h4>
	            <h5 class='vistoria-terceiro'>Terceiro: {{vistoria.terceiro}}</h5>
	            <br/>
	            <h5 class='vistoria-terceiro'>Seguradora: {{vistoria.seguradora}}</h5>
	            <h5 class='vistoria-tipo'>Tipo: {{vistoria.tipo_vistoria}}</h5>
	            <h5 class='vistoria-veiculo'>Veiculo: {{vistoria.veiculo.marca}} - {{vistoria.veiculo.modelo}} - {{vistoria.veiculo.placa}} </p> 
	            <h5 class='vistoria-oficina'>Oficina: {{vistoria.oficinaID}}</h5>
	            <h5 class='vistoria-status'>Status: {{vistoria.status}}</h5>
	            <h6 class='vistoria-observacao'>OBS: {{vistoria.observacao}}</h6>
	            <br/>

	            <div ><p class='page-header'> PAINEL </p>
	                <img src="{{vistoria.fotos.painel}}" alt="Painel" height="160" width="240">
	            	<!--<img src="{{vistoria.fotos.painel}}"> -->
	            </div>
	            <div > <p class='page-header'> CHASSI </p>
	                <img src="{{vistoria.fotos.chassi}}" alt="Chassi" height="160" width="240">
	            </div>
	            <div > <p class='page-header'> DIANTEIRA 45º </p>
	                <img src="{{vistoria.fotos.dianteira}}" alt="Dianteira" height="160" width="240">
	            </div>
	            <div > <p class='page-header'> TRASEIRA 45º </p>
	                <img src="{{vistoria.fotos.traseira}}" alt="Traseira" height="160" width="240">
	            </div>
	            <div > <p class='page-header'> AVARIAS </p>
	                <img src="{{vistoria.fotos.avaria}}" alt="Avaria" height="160" width="240">
	            </div>

	           </div>
	         </li>
        </ul>
	</div>
</div>
